@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* to allow the page to cover the entire screen width in mobile screen size */

html, body {
    overflow-x:hidden;
}

body {
    font-family: 'Roboto Mono', sans-serif;
}

/*--- BACKGROUND */

.bg-seet {
    background-color: rgba(0,0,0,0)
}

/*---- CONTAINER */

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/*--- NAVBAR */

.navbar-nav-style {
    margin: 50px auto 0;
    font-size: 17px;
}

/* taken from whisky */

.brand-style {
    margin: 7px auto 0;
    padding-top: 5px;
    font-size: 25px;
    border-bottom: 1px solid #c8ffff;
    color: #fafafa;
}

.brand-style:hover {
    color: #fafafa;
}

.nav-link {
    margin: 0 .7rem;
}

.nav-item a {
    color: #fafafa;
}

.nav-item a:hover {
    color: #71bfd3;
}

.navbar-toggler {
    color: #fafafa;
}

/*--- HERO img */

/* from whisky */

.hero-container {
    height: 100vh;

    background: url(../images/hero.jpeg) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}


/*--- FOOTER */

footer {
    min-height: 120px;
    margin-bottom: 0;
    border-top: 1px solid #292b2b;
}

.content-social {
    padding-top: 30px;
    height: 50px;
}

/* To override right margin set by default in the social media logos: they were causing one of the logos to switch row in mobile screen mode */

.list-inline-item:not(:last-child) {
    margin-right: 0; 
}

.social-links li a i {
    padding: 0 50px;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #c8ffff;
}

.social-links li a i:hover {
    color: #71bfd3;
}

.content-copyright {
    padding-top: 27px;
    color: #c8ffff;
}

footer p {
    font-size: 10px;
}


/*
.container-social {
    display: inline-block;
    margin: 0 auto;

}*/

/* media query */

@media (min-width: 567px) {
    .navbar-brand {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar {
        min-height: 90px;
    }
}  

@media (max-width: 567px) {
    .navbar-brand {
        font-size: 16px;
        border-bottom: none;
    }

    .navbar-nav-style {
        margin-top: 30px;
    }
}

